section {
    margin: 3.75rem 4.875rem;
    display: flex;
    justify-content: space-between;
}
.textoPrincipal {
    font-size: 4rem;
}

.textoPrincipal strong {
    color: #7A2CAF;
}

.textoSecundario {
    width: 400px;
}
.textoSecundario p{
    font-size: 1rem;
    line-height: 1.8;
    margin-top: 4.875rem;
}